
//0-980px
@media screen {
    @media (max-width: 980px) and (min-width:0px) {
        html {
            font-size: 10px;
            background-color: #F1F3F4;
            display: flex;
            flex-direction: column;
        }
        nav {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 0;
            z-index: 20;
            width: 75%;
            height: 100%;
            background-color: white;
            .nav_top {
                position: relative;
                top: -1rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 7rem;
                width: 100%;
                background-color: #F96F95;
                .nav_title{
                    position: relative;
                    top: 0.5rem;
                    overflow: hidden;
                    flex: 1;
                    text-indent: 1.5rem;
                    text-align: left;
                    font-size: 2.5rem;
                    font-weight: bold;
                    color: white;
                    opacity: 0.7;
                }
                img {
                    margin-top: 1rem;
                    margin-right:1rem ;
                    height: 4rem;
                    width: 4rem;
                }
            }
            .nav_middle{
                overflow: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 5rem;
                .group {
                    margin-top: 4rem;
                    width: 80%;
                    p {
                        font-size: 2rem;
                        text-align: left;
                        color: #C3C8CC;
                    }
                    .item {
                        height: 4rem;
                        line-height: 4rem;
                        font-size: 2rem;
                        text-align: left;
                        color: grey;
                    }
                }
            }
            .version {
                text-align: left;
                text-indent: 2rem;
                font-size: 2rem;
                font-weight: bold;
                opacity: 0.3;
            }
        }
        header {
            position: fixed;
            top: 0;
            padding: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            background-color: white;
            .header_ham {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 6rem;
                height: 5rem;
                background-color: #F85F89;
                border-radius: 0.5rem;
                img {
                    width: 3rem;
                    height: 3rem;
                }
            }
            .header_title {
                flex: 1;
                overflow: hidden;
                height: 5rem;
                line-height: 5rem;
                text-align: left;
                text-indent: 1rem;
                font-size: 2rem;
                color: #93979C;
                font-weight: bold;
            }
            .header_bar {
                width: 15rem;
                height: 5rem;
                display: flex;
                margin-right: 2rem;
                .bar_language {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 1rem;
                    width: 6rem;
                    height: 5rem;
                    background-color: #F85F89;
                    border-radius: 0.5rem;
                    img {
                        width: 3rem;
                        height: 3rem;
                    }
                }
                .bar_center {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 8rem;
                    height: 5rem;
                    background-color: #F85F89;
                    border-radius: 0.5rem;
                    img {
                        width: 3rem;
                        height: 3rem;
                    }
                    .center_index {
                        margin-top: 1.5rem;
                        margin-left: 1rem;
                        width: 0;
                        height: 0;
                        border-top: 1rem solid white;
                        border-right: 1rem solid transparent;
                        border-bottom: 1rem solid transparent;
                        border-left: 1rem solid transparent;
                    }
                }
            }
        }
        main {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 100vh;
            overflow: auto;
            margin-top: 7rem;
            background-color: transparent;
            .main_container {
                margin: 3%;
                width: 94%;
                background-color: #F1F3F4;
                .container_swiper {
                    height: 20rem;
                    width: 100%;
                    background-color: skyblue;
                }
                .container_part {
                    margin-top: 5rem;
                    width: 100%;
                    background-color: transparent;
                    .item {
                        margin-top: 2rem;
                        p {
                            margin: 0;
                            height: 8rem;
                            line-height: 8rem;
                            text-align: left;
                            text-indent: 3rem;
                            font-size: 2.5rem;
                            background-color: #F8F9FC;
                        }
                        .control {
                            width: 100%;
                            height: 20rem;
                            background-color: skyblue;
                        }
                        .item_content {
                            width: 100%;
                            height: 5rem;
                            background-color: white;
                        }
                    } 
                }
            }
        }
    }
}

//980-1150px

//>=1150


